
.box {
    border: #888 1px;
    border-radius: 10%;
  }
  
  .input-box {
    padding: auto;
    align-items: flex-start;
  }
  
  .username-input {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .password-input {
    margin-top: 8px;
    margin-bottom: 8px;
  }